urllib3==2.0.3  # https://github.com/urllib3/urllib3
python-dateutil==2.8.2  # https://github.com/dateutil/dateutil
Authlib==1.2.0  # https://github.com/lepture/authlib
pyjwt==2.8.0  # https://github.com/jpadilla/pyjwt
requests==2.31.0 # https://github.com/psf/requests
typing-extensions==4.8.0 # https://github.com/python/typing_extensions
frozendict==2.3.8 # https://github.com/Marco-Sulla/python-frozendict
certifi==2022.12.7 # https://github.com/certifi/python-certifi

