urllib3  # https://github.com/urllib3/urllib3
python-dateutil # https://github.com/dateutil/dateutil
Authlib # https://github.com/lepture/authlib
pyjwt  # https://github.com/jpadilla/pyjwt
requests # https://github.com/psf/requests
typing-extensions>=4.11 # https://github.com/python/typing_extensions
frozendict>=2.4 # https://github.com/Marco-Sulla/python-frozendict
certifi>=2024.7.4 # https://github.com/certifi/python-certifi